@inherits LayoutComponentBase

@inject ILogger<MainLayout> Logger

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <div class="top-row px-4">
            <CascadingAuthenticationState>
                <AuthorizeView>
                    <Authorized>
                        @if (context.User.Identity?.Name != null)
                        {
                            //var email = context.User.Claims.FirstOrDefault(c => c.Type == "emails")?.Value;
                            var email = context.User.Claims.FirstOrDefault(c => c.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress")?.Value;

                            Logger.LogInformation($"User logged in: {context.User.Identity.Name}, Email: {email}");

                            //Log the entire claims for debugging
                            //Logger.LogInformation($"Claims: {string.Join(", ", context.User.Claims.Select(c => $"{c.Type}: {c.Value}"))}");

                            <text>@email</text>
                        }
                        else
                        {
                            <text>Welcome @context.User.Identity?.Name</text>
                        }
                        @* Welcome @context.User.Identity?.Name *@
                        <a href="/MicrosoftIdentity/Account/SignOut">Log out</a>
                    </Authorized>
                    <NotAuthorized>
                        <a href="/MicrosoftIdentity/Account/SignIn">Log in</a>
                    </NotAuthorized>
                </AuthorizeView>
            </CascadingAuthenticationState>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>