@page "/env"
@inject IConfiguration Configuration

<h3>Environment</h3>

<h5>All Environment Variables</h5>
<table class="table table-sm table-bordered">
    <thead>
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        @foreach (System.Collections.DictionaryEntry env in Environment.GetEnvironmentVariables())
        {
            <tr>
                <td>@env.Key</td>
                <td>@env.Value</td>
            </tr>
        }
    </tbody>
</table>

@code {

}
